// Fuentes
$font-title        : 'Roboto', sans-serif;
$font-PT           : 'Open Sans', sans-serif;
$font-code         : 'Lobster', sans-serif;
$font-inconsolata  : 'Inconsolata', monospace;
$font-barcode      : 'Libre Barcode 128 Text', cursive;
$font-lobster      : 'Lobster', cursive;
$font-metal        : 'Metal Mania';
$font-opensans     : 'Open Sans', sans-serif;
$font-videogame    : 'Press Start 2P', cursive;
$font-ptsans       : 'PT Sans', sans-serif;
$font-roboto       : 'Roboto', sans-serif;
$font-shadows      : 'Shadows Into Light', cursive;
$font-sloway       : 'Solway', serif;

// Colores
$c-green    : #4CB8B3;
$c-pink     : #F53756;
$c-yellow   : #fef46d;
$c-purple   : #752f97;
$c-black    : #000;
$c-white    : #fff;
$wine     : #520606;
$guinda   : #64042e;

// Tamaños de @media queries
$cellphone : 580px;
$cellXL    : 690px;
$tablet    : 768px;
$desktop   : 992px;
$desktopXL : 1200px;