{% extends 'base.html' %}

{% block title %} Contabilidad {% endblock %}

{% block content %}
<div class="content_career">
    <div class="career_info">
        <div class="career-concept">
            <h3>¿Qué es?</h3>
            <p>
                La contabilidad es una disciplina que se encarga de estudiar, medir y analizar el patrimonio, la situación patrimonial
                económica y financiera de una empresa u organización, con el fin de facilitar la toma de decisiones en el seno de la misma
                y el control externo, presentando la información, previamente registrada, de manera sistemática y útil para las distintas partes
                interesadas.
                La contabilidad es una disciplina técnica que a partir del procesamiento de datos sobre la composición y evolución del
                patrimonio de un ente, los bienes de propiedad de terceros en su poder y ciertas contingencias produce información para
                la toma de decisiones de administradores y terceros interesados y para la vigilancia sobre los recursos y obligaciones del ente.
            </p>
        </div>
        <div class="career-program">
            <h3>Programa</h3>
            <table>
                <thead>
                    <tr>
                        <th>1°</th>
                        <th>2°</th>
                        <th>3°</th>
                        <th>4°</th>
                        <th>5°</th>
                        <th>6°</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Álgebra</th>
                        <th>Geometría y Trigonometría</th>
                        <th>Geometría Analítica</th>
                        <th>Cálculo Diferencial</th>
                        <th>Cáclulo Integral</th>
                        <th>Probabilidad y Estadística</th>
                    </tr>
                    <tr>
                        <th>Filosofía I</th>
                        <th>Filosofía II</th>
                        <th>Física I</th>
                        <th>Física II</th>
                        <th>Microeconomía</th>
                        <th>Macroeconomía</th>
                    </tr>
                    <tr>
                        <th>Computación Básica I</th>
                        <th>Computación Básica II</th>
                        <th>Química I</th>
                        <th>Química II</th>
                        <th>Inglés V</th>
                        <th>Inglés VI</th>
                    </tr>
                    <tr>
                        <th>Inglés I</th>
                        <th>Inglés II</th>
                        <th>Inglés III</th>
                        <th>Inglés IV</th>
                        <th>Derecho Mercantil</th>
                        <th>Orientación Juvenil y Profesional IV</th>
                    </tr>
                    <tr>
                        <th>Expresión Oral y Escrita I</th>
                        <th>Expresión Oral y Escrita II</th>
                        <th>Comunicación Científica</th>
                        <th>Derecho</th>
                        <th>Contabilidad III</th>
                        <th>Seguridad Social</th>
                    </tr>
                    <tr>
                        <th>Desarrollo de Habilidades del Pensamiento</th>
                        <th>Biología Básica</th>
                        <th>Contabilidad I</th>
                        <th>Contabilidad II</th>
                        <th>Orientación Juvenil y Profesional III</th>
                        <th>Nóminas</th>
                    </tr>
                    <tr>
                        <th>Historia de México Contemporáneo I</th>
                        <th>Historia de México Contemporáneo II</th>
                        <th>Entorno Socioeconómico de México</th>
                        <th>Cálculos Financieros II</th>
                        <th>Legislación Fiscal Personas Morales</th>
                        <th>Contabilidad de Costos</th>
                    </tr>
                    <tr>
                        <th>Desarrollo Personal</th>
                        <th>Orientación Juvenil y Profesional II</th>
                        <th>Cáculos Financieros I</th>
                        <th>Legislación Fiscal Personas Físicas</th>
                        <th>Derecho Laboral</th>
                        <th>Nociones de Auditoría</th>
                    </tr>
                    <tr>
                        <th>Orientación Juvenil y Profesional I</th>
                        <th>Legislación Fiscal</th>
                        <th>Paquetería Contable</th>
                        <th>Nociones de Finanzas y Presupuestos</th>
                        <th>Optativa 4</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Optativa 2</th>
                        <th></th>
                        <th>Optativa 3</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}