{% extends 'base.html' %}

{% block title %} Marketing Digital {% endblock %}

{% block content %}
<div class="content_career">
    <div class="career_info">
        <div class="career-concept">
            <h3>¿Qué es?</h3>
            <p>
                El mercadeo digital es el componente de la mercadotecnia que utiliza internet y tecnologías digitales en línea,
                como computadoras de escritorio, teléfonos móviles y otras plataformas y medios digitales para promover productos y servicios.
                Su desarrollo durante las décadas de 1990 y 2000 cambió la forma en que las marcas y las empresas utilizan la tecnología para el
                mercadeo. A medida que las plataformas digitales se incorporaron cada vez más a los planes de mercadeo y la vida cotidiana, y a
                medida que las personas utilizan cada vez más dispositivos digitales en lugar de visitar tiendas físicas, las campañas de
                mercadeo digital se han vuelto frecuentes, empleando combinaciones de optimización de motores de búsqueda (OMB), mercadotecnia
                en motores de búsqueda (MMB), marketing de contenidos, mercadotecnia influyente, automatización de contenidos, mercadeo de
                campañas, mercadeo basado en datos, mercadeo de comercio electrónico, mercadotecnia en medios sociales, optimización de medios
                sociales, Email marketing, la publicidad gráfica, los libros electrónicos y los juegos y discos ópticos se han convertido en algo
                común. El mercadeo digital se extiende a los canales que no son de Internet que proporcionan medios digitales, como televisión,
                teléfonos móviles (SMS y MMS), devolución de llamada y tonos de llamada en espera. La extensión a canales distintos de Internet
                diferencia el mercadeo digital del mercadeo en línea.
            </p>
        </div>
        <div class="career-program">
            <h3>Programa</h3>
            <table>
                <thead>
                    <tr>
                        <th>1°</th>
                        <th>2°</th>
                        <th>3°</th>
                        <th>4°</th>
                        <th>5°</th>
                        <th>6°</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Álgebra</th>
                        <th>Geometría y Trigonometría</th>
                        <th>Geometría Analítica</th>
                        <th>Cálculo Diferencial</th>
                        <th>Cáclulo Integral</th>
                        <th>Probabilidad y Estadística</th>
                    </tr>
                    <tr>
                        <th>Filosofía I</th>
                        <th>Filosofía II</th>
                        <th>Física I</th>
                        <th>Física II</th>
                        <th>Microeconomía</th>
                        <th>Macroeconomía</th>
                    </tr>
                    <tr>
                        <th>Computación Básica I</th>
                        <th>Computación Básica II</th>
                        <th>Química I</th>
                        <th>Química II</th>
                        <th>Inglés V</th>
                        <th>Inglés VI</th>
                    </tr>
                    <tr>
                        <th>Inglés I</th>
                        <th>Inglés II</th>
                        <th>Inglés III</th>
                        <th>Inglés IV</th>
                        <th>Derecho Mercantil</th>
                        <th>Orientación Juvenil y Profesional IV</th>
                    </tr>
                    <tr>
                        <th>Expresión Oral y Escrita I</th>
                        <th>Expresión Oral y Escrita II</th>
                        <th>Comunicación Científica</th>
                        <th>Derecho</th>
                        <th>Contabilidad III</th>
                        <th>Métrica y Analítica Web</th>
                    </tr>
                    <tr>
                        <th>Desarrollo de Habilidades del Pensamiento</th>
                        <th>Biología Básica</th>
                        <th>Contabilidad I</th>
                        <th>Contabilidad II</th>
                        <th>Orientación Juvenil y Profesional III</th>
                        <th>Social Media</th>
                    </tr>
                    <tr>
                        <th>Historia de México Contemporáneo I</th>
                        <th>Historia de México Contemporáneo II</th>
                        <th>Entorno Socioeconómico de México</th>
                        <th>Cálculos Financieros II</th>
                        <th>Comunicación Mercadológica Digital</th>
                        <th>Economía Digital</th>
                    </tr>
                    <tr>
                        <th>Desarrollo Personal</th>
                        <th>Orientación Juvenil y Profesional II</th>
                        <th>Cáculos Financieros I</th>
                        <th>Diseño y Desarrollo del Producto</th>
                        <th>Comercio Electrónico</th>
                        <th>Transformación Digital de las Organizaciones</th>
                    </tr>
                    <tr>
                        <th>Orientación Juvenil y Profesional I</th>
                        <th>Optativa 1</th>
                        <th>Introducción a la Mercadotecnia Digital</th>
                        <th>Investigación de Mercados</th>
                        <th>Ética y Legislación Digital</th>
                        <th>Optativa 4 ( Opción Curricular a Titulación )</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Comportamiento del Consumidor</th>
                        <th>Optativa 2</th>
                        <th>Contenidos Digitales</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Optativa 3</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}