{% extends 'base.html' %}

{% block title %} Administración {% endblock %}

{% block content %}
<div class="content_career">
    <div class="career_info">
        <div class="career-concept">
            <h3>¿Qué es?</h3>
            <p>
                La administración de empresas, administración de negocios, gestión empresarial o gestión de empresas es un estudio complejo y
                extenso que buscan mejorar la relación entre productividad, calidad, costos, administración, distribución y logística así como
                tiempo de producción, relación de trabajadores operarios y de confianza para mejorar de manera continua y eficiente la
                competitividad de una empresa o de un negocio. Su finalidad es lograr metas determinadas en plazos de tiempo óptimo constante
                para aumentar la productividad y la competitividad.
                Otro elemento comparativo es el paso del tiempo y su efecto en toda la organización. En un automóvil, las partes mecánicas se
                desgastarán con el tiempo, pero al estar normalizadas podrán sustituirse por otras, según un programa de mantenimiento que
                permitirá que el vehículo siga funcionando. En el caso de las personas, con el tiempo irán cambiando: la percepción, la
                experiencia, la motivación. El proceso de envejecimiento afectará a su actitud y su comportamiento. Además, los
                grupos de personas dentro de la organización actúan de forma distinta según el momento de la vida en el que se encuentren.
            </p>
        </div>
        <div class="career-program">
            <h3>Programa</h3>
            <table>
                <thead>
                    <tr>
                        <th>1°</th>
                        <th>2°</th>
                        <th>3°</th>
                        <th>4°</th>
                        <th>5°</th>
                        <th>6°</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Álgebra</th>
                        <th>Geometría y Trigonometría</th>
                        <th>Geometría Analítica</th>
                        <th>Cálculo Diferencial</th>
                        <th>Cáclulo Integral</th>
                        <th>Probabilidad y Estadística</th>
                    </tr>
                    <tr>
                        <th>Filosofía I</th>
                        <th>Filosofía II</th>
                        <th>Física I</th>
                        <th>Física II</th>
                        <th>Microeconomía</th>
                        <th>Macroeconomía</th>
                    </tr>
                    <tr>
                        <th>Computación Básica I</th>
                        <th>Computación Básica II</th>
                        <th>Química I</th>
                        <th>Química II</th>
                        <th>Inglés V</th>
                        <th>Inglés VI</th>
                    </tr>
                    <tr>
                        <th>Inglés I</th>
                        <th>Inglés II</th>
                        <th>Inglés III</th>
                        <th>Inglés IV</th>
                        <th>Derecho Mercantil</th>
                        <th>Orientación Juvenil y Profesional IV</th>
                    </tr>
                    <tr>
                        <th>Expresión Oral y Escrita I</th>
                        <th>Expresión Oral y Escrita II</th>
                        <th>Comunicación Científica</th>
                        <th>Derecho</th>
                        <th>Contabilidad III</th>
                        <th>Paquetería Administrativa</th>
                    </tr>
                    <tr>
                        <th>Desarrollo de Habilidades del Pensamiento</th>
                        <th>Biología Básica</th>
                        <th>Contabilidad I</th>
                        <th>Contabilidad II</th>
                        <th>Orientación Juvenil y Profesional III</th>
                        <th>Sistemas de Calidad</th>
                    </tr>
                    <tr>
                        <th>Historia de México Contemporáneo I</th>
                        <th>Historia de México Contemporáneo II</th>
                        <th>Entorno Socioeconómico de México</th>
                        <th>Cálculos Financieros II</th>
                        <th>Administraciónde Sueldos y Salarios</th>
                        <th>Nociones de Finanzas</th>
                    </tr>
                    <tr>
                        <th>Desarrollo Personal</th>
                        <th>Orientación Juvenil y Profesional II</th>
                        <th>Cáculos Financieros I</th>
                        <th>Administraciónde Capital Humano</th>
                        <th>Sistemas y Métodos Organizacionales</th>
                        <th>Producción</th>
                    </tr>
                    <tr>
                        <th>Orientación Juvenil y Profesional I</th>
                        <th>Optativa 1</th>
                        <th>Administración</th>
                        <th>Optativa 3</th>
                        <th>Mercadotecnia</th>
                        <th>Derecho Laboral</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Optativa 2</th>
                        <th></th>
                        <th>Optativa 4</th>
                        <th>Optativa 5</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}