{% extends 'base.html' %}

{% block title %} Informática {% endblock %}

{% block content %}
<div class="content_career">
    <div class="career_info">
        <div class="career-concept">
            <h3>¿Qué es?</h3>
            <p>
                Es el área de la ciencia que se encarga de estudiar la administración de métodos, técnicas y procesos con el fin de almacenar,
                procesar y transmitir información y datos en formato digital. La informática abarca desde disciplinas teóricas
                (como algoritmos, teoría de la computación y teoría de la información) hasta disciplinas prácticas
                (incluido el diseño y la implementación de hardware y software). De esta manera, la informática se refiere al procesamiento
                automático de información mediante dispositivos electrónicos y sistemas computacionales. Los sistemas informáticos deben contar
                con la capacidad de cumplir tres tareas básicas: entrada (input, captación de la información), procesamiento y salida
                (transmisión de los resultados).
            </p>
        </div>
        <div class="career-program">
            <h3>Programa</h3>
            <table>
                <thead>
                    <tr>
                        <th>1°</th>
                        <th>2°</th>
                        <th>3°</th>
                        <th>4°</th>
                        <th>5°</th>
                        <th>6°</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Álgebra</th>
                        <th>Geometría y Trigonometría</th>
                        <th>Geometría Analítica</th>
                        <th>Cálculo Diferencial</th>
                        <th>Cáclulo Integral</th>
                        <th>Probabilidad y Estadística</th>
                    </tr>
                    <tr>
                        <th>Filosofía I</th>
                        <th>Filosofía II</th>
                        <th>Física I</th>
                        <th>Física II</th>
                        <th>Microeconomía</th>
                        <th>Macroeconomía</th>
                    </tr>
                    <tr>
                        <th>Computación Básica I</th>
                        <th>Computación Básica II</th>
                        <th>Química I</th>
                        <th>Química II</th>
                        <th>Inglés V</th>
                        <th>Inglés VI</th>
                    </tr>
                    <tr>
                        <th>Inglés I</th>
                        <th>Inglés II</th>
                        <th>Inglés III</th>
                        <th>Inglés IV</th>
                        <th>Derecho Mercantil</th>
                        <th>Orientación Juvenil y Profesional IV</th>
                    </tr>
                    <tr>
                        <th>Expresión Oral y Escrita I</th>
                        <th>Expresión Oral y Escrita II</th>
                        <th>Comunicación Científica</th>
                        <th>Derecho</th>
                        <th>Contabilidad III</th>
                        <th>Programación Avanzada</th>
                    </tr>
                    <tr>
                        <th>Desarrollo de Habilidades del Pensamiento</th>
                        <th>Biología Básica</th>
                        <th>Contabilidad I</th>
                        <th>Contabilidad II</th>
                        <th>Orientación Juvenil y Profesional III</th>
                        <th>Desarrollo Web y Multimedia</th>
                    </tr>
                    <tr>
                        <th>Historia de México Contemporáneo I</th>
                        <th>Historia de México Contemporáneo II</th>
                        <th>Entorno Socioeconómico de México</th>
                        <th>Cálculos Financieros II</th>
                        <th>Programación Orientada a Objetos</th>
                        <th>Teleinformática</th>
                    </tr>
                    <tr>
                        <th>Desarrollo Personal</th>
                        <th>Orientación Juvenil y Profesional II</th>
                        <th>Cáculos Financieros I</th>
                        <th>Programación Estructurada</th>
                        <th>Base de Datos</th>
                        <th>Optativa 4</th>
                    </tr>
                    <tr>
                        <th>Orientación Juvenil y Profesional I</th>
                        <th>Optativa 1</th>
                        <th>Herramientas de Programación</th>
                        <th>Optativa 2</th>
                        <th>Optativa 3</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Ensamblado y Mantenimiento de PC's</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}