{% extends 'base.html' %}

{% block title %}
Comunidad
{% endblock %}

{% block content %}
<div class="container soon-msg">
    <h2>PRÓXIMAMENTE</h2>
    <p>
        Página de comunidad politécnica del Centro de Estudios Científicos y Tecnológicos N° 12 "José María Morelos", en la que personal autorizado podrá publicar nuevos anuncios, eventos, noticias, curiosidades y demás en ésta sección del aplicativo web, y donde los alumnos, docentes y afines podrán comentar, reaccionar y compartir en otras redes sociales para mayor difusión. Además ésto ayuda mucho para erradicar lo que localmente llamamos <b>Fake News</b>, o por su traducción, <b>Noticias Falsas</b>.
    </p>
</div>
{% endblock %}