{% extends 'base.html' %}

{% block title %} Presentación{% endblock %}

{% block content %}
<div class="content_presentation">
    <div class="presentation">
        <h3>¿Por Qué Creamos EduCiervo?</h3>
        <p>
            En México se estima que tres de cada 10 jóvenes se equivocan al
            elegir carrera debido a tres factores: escasa orientación en los centros
            de estudio, influencia familiar al elegir y por estereotipos sociales, los
            cuales se han ido estableciendo a través del tiempo. <br>
            “Elegí la carrera de administración por mi papá. Seré el encargado del
            negocio, porque en mi casa los hombres y no las mujeres cumplen con
            esto”, nos compartió un joven que quería estudiar veterinaria
            No sé sabe con exactitud cuál fue su destino laboral, pero es casi inevitable que
            tarde o temprano se cuestionará sobre esta decisión. Es por lo que realizar un
            ejercicio de introspección, el cual pueden promover los papás desde la
            adolescencia,
            ayudar a ganar claridad sobre qué estudiar y dónde
            En el país, solo medicina reporta un promedio de afinidad alto, esto
            significa que sus egresados trabajan en la formación universitaria que
            recibieron. Ocho de cada diez egresados de esta licenciatura lo hacen,
            en el resto de las carreras, particularmente las de ciencias sociales, esta
            relación es de dos de cada diez, según datos reportados por el
            Observatorio Laboral 1 , tendencias actuales 2022
            Una mala elección puede generar un impacto emocional y financiero
            fuerte, por el tiempo y el recurso que se destinó al proceso, si se
            utilicen herramientas que abarquen varias dimensiones, la selección
            puede ser mucho más exitosa. Es interesante conocer, por ejemplo,
            que, en el caso de la UNAM, un aspirante con 100 aciertos o más
            puede quedar sin lugar en su opción elegida, mientras que otro con
            menor número de aciertos puede obtenerlo. Todo depende de la carrera
            y el campus solicitado.
            Es por estas razones que como tutores del CECyT12, queremos compartir una
            herramienta de gran utilidad para los estudiantes y que ofrecer información concreta y
            sencilla para que tomen la mejor decisión en el futuro de sus vidas.
            Éxito en su vida, Escolar y Laboral.
            <br> <br>
            Lic. Martha Judith Girón Hernández <br>
            Lic. Raffaella Melina Macias Montoy
            <br> <br>
            <a href="https://www.observatoriolaboral.gob.mx/static/estudios-
            ublicaciones/Tendencias_actuales.html consultado el día 24 de septiembre del
            2022">Referencias Bibliográficas</a>
        </p>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}