@use '../base/variables' as v;
@use '../base/mixins' as m;

.carousel {
    width: 100%;
    background-color: #000;
    max-height: 70rem;
    overflow: hidden;
    .carousel-inner {
        width: 95%;
        margin: auto;
        max-height: 70rem;
        overflow: hidden;
        .carousel-item {
            // filter: opacity(#000);
            appearance: inherit;
            align-content: bottom;
        }
    }
}