<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <source class="d-block w-100" srcset="{{ url_for('static', filename='img/slider-patio-principal.jpg') }}">
            <img class="d-block w-100" src="{{ url_for('static', filename='img/slider-patio-principal.jpg') }}" type="JPG">
        </div>
        <div class="carousel-item">
            <source class="d-block w-100" srcset="{{ url_for('static', filename='img/slider-canchas.jpg') }}">
            <img class="d-block w-100" src="{{ url_for('static', filename='img/slider-canchas.jpg') }}" type="JPG">
        </div>
        <div class="carousel-item">
            <picture>
                <source class="d-block w-100" srcset="{{ url_for('static', filename='img/slider-himnos.jpg') }}">
                <img class="d-block w-100" src="{{ url_for('static', filename='img/slider-himnos.jpg') }}" type="JPG">
            </picture>
        </div>
        <div class="carousel-item">
            <picture>
                <source class="d-block w-100" srcset="{{ url_for('static', filename='img/slider-escaleras.jpg') }}">
                <img class="d-block w-100" src="{{ url_for('static', filename='img/slider-escaleras.jpg') }}" type="JPG">
            </picture>
        </div>
        <div class="carousel-item">
            <picture>
                <source class="d-block w-100" srcset="{{ url_for('static', filename='img/slider-edifA.jpg') }}">
                <img class="d-block w-100" src="{{ url_for('static', filename='img/slider-edifA.jpg') }}" type="JPG">
            </picture>
        </div>
        <div class="carousel-item">
            <picture>
                <source class="d-block w-100" srcset="{{ url_for('static', filename='img/slider-cancha-techada.jpg') }}">
                <img class="d-block w-100" src="{{ url_for('static', filename='img/slider-cancha-techada.jpg') }}" type="JPG">
            </picture>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>