<header class="header">
    <div class="navbar-filter">
        <img src="/static/img/Ciervos.png" alt="Ciervos">
        <img src="/static/img/logo_ipn-white.png" alt="Ciervos">
        <img src="/static/img/CECyT%2012.png" alt="CECyT12">
        <div class="slogan">
            <div id="start">
                <div class="cap">
                    "La Técnica al Servicio de la Patria".
                </div>
            </div>
            <div id="end">
                <div class="cap">
                    Instituto <br>
                    Politécnico <br>
                    Nacional.
                </div>
            </div>
        </div>
    </div>
    <nav class="header__nav">
        <div class="dropmenu-box">
            <button type="button" id="dropmenu" readonly="menu">
                <span><i class="fas fa-bars"></i>&nbsp;&nbsp; Menu</span>
            </button>
        </div>
        <ul class="dropmenu-disable" id="nav_menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/presentation">Presentación</a></li>
            <li><a href="/vocational_orientation">Orientación</a></li>
            <li><a href="/careers">Carreras</a></li>
            <li><a href="/vocational_test">Test vocacional</a></li>
            <li><a href="/community">Comunidad</a></li>
            <li><a href="/contact_us">Contacto</a></li>
        </ul>
    </nav>
</header>